
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body{
	background: #252525;
  }
  
  #container{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 500px;
	width: 100%;
	background: rgb(117, 117, 117);
	padding: 25px;
	border-radius: 5px;
  }
  
  #container h2{
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #ffcc00;
  }
  
  #container .input_field{
	margin-bottom: 10px;
  }
  
  #container .input_field input[type="text"],
  
  #container textarea{
	border: 5px solid #e0e0e0;
	border-radius: 25px;
	width: 100%;
	padding: 10px;
  }
  
  #container textarea{
	height: 80px;
  }
  
  #container .btn input[type="submit"]{
	border: none;
	margin-top: 15px;
	padding: 10px;
	text-align: center;
	width: 100%;
	background: #ffcc00;
	color: #332902;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
  }
